
obj/Debug/bank1-API.csproj.AssemblyReference.cache

obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/vCardPlatform/config/applicationhost.config
.vs/vCardPlatform/DesignTimeBuild/.dtbcache.v2
*.config
.vs/vCardPlatform/config/applicationhost.config
.vs/vCardPlatform/project-colors.json
.vs/vCardPlatform/v17/.suo
Admin_Console/obj/Admin_Console.csproj.nuget.dgspec.json
Admin_Console/obj/Debug/net6.0-windows/Admin_Console.assets.cache
Admin_Console/obj/Debug/net6.0-windows/Admin_Console.GeneratedMSBuildEditorConfig.editorconfig
Admin_Console/obj/project.assets.json
Admin_Console/obj/project.nuget.cache

bin/

obj/Debug/

vCardPlatform.sln

.vs/vCardPlatform/v16/.suo

Admin_Console/obj/

ClientApp/obj/Debug/

vCardPlatformAPI/obj/Debug/

vCardPlatformAPI/Web.config
Web.config
.vs/vCardPlatform/v17/.futdcache.v1

FinalConsole/obj/Debug/

Admin/obj/Debug/
vCardPlatformAPI/App_Data/MainDatabase_log.ldf
vCardPlatformAPI/App_Data/MainDatabase_log.ldf
/bank2-API/obj/Debug
